<div style="text-align:center">
<br>
<H1>Hello there! ask me a question!  &#8987</H1>
<form action="answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
<br>


</div>
